{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>My Analytics</title>
    <meta charset="UTF-8">
    <meta name="author" content="Akkiy">
    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie!=='') {
          const cookies = document.cookie.split(';');
          for (let i=0; i<cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name+'=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length+1));
              break;
            }
          }
        }
        return cookieValue;
      }

      fetch('/fetch/', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": getCookie("csrftoken")
        },
        body: JSON.stringify({})
      })
      .then(response => {
        if (response.redirected) {
          window.location.href = response.url;
        }
      });
    </script>
  </head>
  <body>
  </body>
</html>