{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>My Analytics</title>
    <meta charset="UTF-8">
    <meta name="author" content="Akkiy">
  </head>
  <body>
    <h1>My Analytics</h1>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <button type="submit">Fetch Latest Analytics</button>
      </div>
    </form>
    <br>
    <form action="{% url 'index' %}" method="get">
      <h2>Sort Option</h2>
      <div>
        <input type="radio" id="videoId" name="sort" value="id"/>
        <label for="videoId">Video Id</label>
      </div>
      <div>
        <input type="radio" id="viewCount" name="sort" value="view" />
        <label for="viewCount">View Count</label>
      </div>
      <div>
        <input type="radio" id="likeCount" name="sort" value="like" />
        <label for="likeCount">Like Count</label>
      </div>
      <div>
        <input type="radio" id="commentCount" name="sort" value="comment" />
        <label for="commentCount">Comment Count</label>
      </div>
      <h2>Sort Order</h2>
      <div>
        <input type="radio" id="asc" name="order" value="asc" />
        <label for="asc">Ascending</label>
      </div>
      <div>
        <input type="radio" id="desc" name="order" value="desc"/>
        <label for="desc">Descending</label>
      </div>
      <div>
        <button type="submit">Apply</button>
      </div>
    </form>
    {% for analytic in analytics %}
    <div class="text">
      <h2><a href="{% url 'detail' analytic.id %}">{{ analytic.videoId }}</a></h2>
      <ul>
        <li>Get at: {{ analytic.get_at }}</li>
        <li>View<ul>
          <li>YouTube: {{ analytic.YouTubeView }}</li>
          <li>niconico: {{ analytic.niconicoView }}</li>
        </ul></li>
        <li>Like<ul>
          <li>YouTube: {{ analytic.YouTubeLike }}</li>
          <li>niconico: {{ analytic.niconicoLike }}</li>
        </ul></li>
        <li>Comment<ul>
          <li>YouTube: {{ analytic.YouTubeComment }}</li>
          <li>niconico: {{ analytic.niconicoComment }}</li>
        </ul></li>
        <li>MyList: {{ analytic.niconicoMylist }}</li>
      </ul>
    </div>
    {% endfor %}
  </body>
</html>